/*import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@100&family=Roboto:wght@100&family=Sofia&display=swap');

:root{
    --primary-color: #45ccb8;
    --light-gray: #2b303218;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "Roboto", sans-serif;
    --gugi: "Gugi", cursive;
    --sofia: "Sofia", cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(assests/keaboard.jpeg);
    background-size: cover;
    overflow: hidden;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(214, 171, 186, 0.7);
  }
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #000;
    
}
p{
    color: #000;
}
.logo{
    font-family: var(--gugi);
    font-size: 2em;
    
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    margin-left: 54%;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
/*        Feature    */
.section{
    padding: 8rem 0 4rem 0;
}
.categories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}
.advert-box{
    position: relative;
    color: #fff;
    height: 15rem;
    border-radius: 1.0rem;
    padding: 1.6rem;
    overflow: hidden;
    z-index: 1;
}
.advert-box img{
    position: absolute;
    top: 42px;
    border-radius: 10px;
    bottom: 30px;
    left: 10%;
    height: 65%;
    width: 7rem;
    z-index: -1;
}
.advert-box:nth-child(1){
    background-color: #f5c5d1;
}
.advert-box:nth-child(2){
    background-color: #a1d1df;
}
.advert-box:nth-child(3){
    background-color: #e5bc00;
}
.advert-box .dotted{
    position: relative;
    height: 100%;
    border: 2px dashed #f1f1f1;
    border-radius: 1rem;
}
.advert-box .content{
    position: absolute;
    top: 50%;
    right: 2px;
    left: 40%;
    transform: translate(0, -50%);
}
.advert-box .content h2{
    text-shadow: 5px 6px 0px rgba(37, 59, 112, 0.1);
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

/*featured*/
.title{
   margin: 4rem 0 7rem 0;
   text-align: center;
}
.title h1{
    font-size: 3rem;
    display: inline-block;
    position: relative;
    z-index: 0;
}
.title h1::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
     border-radius: 5px;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
    z-index: 1;
}
.product-center{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 7rem 3rem;
}
.product{
    height: 24rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}
.product:hover{
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}
.product-header{
    position: relative;
    background-color: #f6f2f1;
    height: 12rem;
    transition: all 100ms ease-in-out;
    z-index: 0;
}

.product-footer{
    padding: 2rem 1.6rem 1.6rem 1.6rem;
}
.product-footer h3{
    font-size: .9rem;
}
.rating{
    color: #43b3d9;
}
.product-footer .price{
    color: #ff7c9c;
    font-size: 1rem;
}
.product:hover .product-header::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1rem 1rem 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: all 500ms ease-in-out;
}
.product-header .icons{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -5%) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all 500ms ease-in-out;
}
.product-header .icons span{
    background-color: #fff;
    font-size: 1rem;
    display: block;
    border-radius: 50%;
    padding: 1.1rem 1.2rem;
    line-height: 1rem;
    cursor: pointer;
    transition: all 300% ease-in-out;
}
.product-header .icons span i{
    transition: all 500ms ease-in-out;
}
.product-header .icons span:not(:last-child){
    margin-bottom: 1rem;
}
.product-header .icons span:hover{
    background: #ff7c9c;
    color: #fff;
}
.product:hover .icons{
    opacity: 1;
    transform: translate(0, -50%) scale(1);
}
.product:hover .icons a{
    display: block;
    margin-bottom: 1rem;
}
    
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-6{
    padding-left: 100px;
}
.col-6 .offer-img{
    padding: 5px;
}
small{
    color: #555;
}

/*------------Testinomial------------*/
.testinomial{
    padding-top: 100px;
}
.testinomial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testinomial .col-3:hover{
    transform: translateY(-10px);
}
.testinomial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50px;
}
.fa .fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testinomial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
.barands{
    margin: 100px auto;

}
.col-5{
    width: 160px;
    flex-basis: 18%;
    margin-left: 20px;
}
.col-5 img{
    width: 50%;
    height: 80px;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/*-------------footer-------------*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;

}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
   text-align: center;
}
.menu-icon{
    width: 24px;
    margin-left: 20px;
    display: none;
}
/*  all products*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
   outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
   display: inline-block;
   border: 1px solid #ff523b;
   margin-left: 10px;
   width: 40px;
   height: 40px;
   line-height: 40px;
   cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

/*         media query for menu         */
@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
   

}
@media only screen and (max-width: 600px){
    .section{
        min-height: 90vh;
    }
  .row{
      text-align: center;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
  }
  .section{
      width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
}
